#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .ios .title-default,
  .title-default {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    color: #000;
    padding: 0;
    background: #dec6a2;
  }
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  #container a {
    text-decoration: none;
  }
  .dashboard-header {
      background: #dec6a2;
      text-align: center;
      font-weight: 900;
      font-size: 26px;
      color: #000;
      padding: 0;
  }
  .ios .dashboard-header {
      text-align: center;
  }
  .mind-match-logo{
      width: 72%;
      max-width: 400px;
      margin: 42px auto 20px;
      display: block;
  }
  .greetings-headline {
      margin: 30px auto 0px;
      text-align: center;
      font-size: 1.4em;
      color: #000;
      width: 90%;
  }
  .dashboard-container {
      margin: 0px auto 0px;
  }
  .dashboard-row {
      margin: auto;
      height: 100px;
      width: 80%;
      max-width: 460px;
  }
  .dashboard-card {
      box-shadow: rgba(0, 0, 0, 0.2) 2px 1px 9px 6px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
      border-radius: 8px;
  }
  .dashboard-card .item{
      background: #edd9bb;
      margin: auto;
  }
  .dashboard-label {
      text-align: start;
      color: #000;
      font-weight: 700;
      margin: 20px auto;
      padding-left: 20px;
  }
  .item img {
      max-width: 30px;
      margin: 0;
  }
  .logout-card {
    --background: #d4b486;
    font-weight: 700;
    text-align: center;
  }

  .faq-header {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    color: #000;
    padding: 0;
}
.ios .faq-header {
    text-align: center;
}

.faq-content {
    padding: 20px;
    font-size: 20px;
    margin: auto;
    max-width: 600px;
}

.header-text {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.faq-question {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.faq-answer {
    text-align: center;
    padding: 0 12px 20px;
    font-style: italic;
}

.prim-color-strong {
    color: #b5452b;
    font-weight: 700;
}

.selfmade-br {
    height: 2px;
    background: #887267;
}
/* FAQ */
.fab-text {
    text-align: center;
}
/* Home */
#container {
    text-align: center;
    position: absolute;
    color: #000;
    left: 0;
    right: 0;
    top: 30%;
    transform: translateY(-30%);
  }
  #container .mind-match-logo{
    width: 94%;
    max-width: 500px;
    margin: 14px auto;
  }
  #container .headline p{
    margin-top: 40px;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
  }
  #container p {
    font-size: 26px;
    line-height: 30px;
    margin: auto;
    max-width: 80%;
  }
  #container .button-login,
  #container .button-register {
    color: #000;
    height: 2.2em;
    font-weight: 900;
    font-size: 1.5em;
    width: auto;
    max-width: 460px;
    min-width: 320px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
  }
  #container .button-login {
    margin: 44px auto 12px;
  }
  #container .button-register {
    margin: 20px auto 12px;
  }
  #container .button-faq {
    margin: 60px auto 12px;
    width: auto;
    color: #000;
    height: 1.8em;
    font-weight: 600;
    font-size: 1em;
    max-width: 260px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  footer p {
    text-align: center;
    font-size: 13px;
  }
  /* forgot pw */
  .forgot-pw {
    margin: 80px auto 0;
    text-align: center;
    width: 80%;
  }
  .forgot-pw-icon img {
    max-width: 30%;
    margin: 40px auto;
    display: block;
  }
  .w80 {
    margin: 12px auto;
    width: 80%;
  }
  .no-padding {
    padding: 0;
  }
  .resend-pw-headline {
      margin: 20px auto 0px;
      font-size: 1.2em;
      color: #000;
      width: 90%;
  }
  /* Matches */
  .match-header {
    text-align: start;
    font-weight: 900;
    font-size: 26px;
    color: #000;
    padding: 0;
}
.ios .match-header {
    text-align: center;
}

.list-header {
    font-weight: 700;
    color: #000;
    width: 100%;
    font-size: 16px;
}

.list-box {
    border: 1px solid #000;
    display: inline-flex;
    padding: 0;
    width: 96%;
    margin: 6px;
}

.list-box:last-of-type {
    border: 1px solid #000;
}

.match-percent {
    padding-right: 8px;
    font-weight: 700;
    color: #000;
}

.match-usernumber {
    color: #000;
}

.match-icon,
.match-percent,
.match-usernumber{
    margin: auto;
}

.match-icon {
    color: #b5452b;
}

.worst-matches-subheader {
    font-size: 1em;
    width: 100%;
    margin: 2px auto;
    text-align: center;
}

.best-matches {
    padding: 0 25px;
    max-width: 460px;
    margin: auto;
}

.worst-matches {
    padding: 30px 25px;
    max-width: 460px;
    margin: auto;
}
/* Profil */
.ios .profil-header {
  text-align: center;
}

.profil-content {
  padding: 20px;
  font-size: 20px;
}

.id-text {
  text-align: center;
}

.question-bar {
  width: 70%;
  max-width: 230px;
  height: 5px;
  margin: 10px auto;
}

.prim-color {
  color: #b5452b;
}
.link-button{
  border:1px solid #b5452b;
  border-radius: 10%;
  padding: 1px 3px;
}

.selfmade-br {
  height: 2px;
  background: #887267;
}

.match-member-text{
  text-align: center;
  max-width: 330px;
  margin: 20px auto;
}
/* Member */
.member-content {
  padding: 20px;
  font-size: 20px;
}
.match-member{
  width: 100%;
  max-width: 340px;
  margin: auto;
}
.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px solid #614a4a;
  background: #dfc7a3;
  margin: 20px 0 30px 12%;
  /* if you want 30% of the circle which is 360 degrees, so 360 x 30% = 108. */
  background-image: linear-gradient(18deg, #dec6a2 50%, transparent 50%), linear-gradient(-90deg, #b5452b 50%, transparent 50%);
}
.circle-text{
  font-size: 45px;
  font-weight: 700;
  color: #b5452b;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.match-member-text{
  text-align: center;
  max-width: 360px;
  margin: 0 auto;
  margin-top: 8%;
}

.chat-button-member{
  margin: 30px auto 0;
  max-width: 320px;
}

.selfmade-br {
  height: 2px;
  background: #887267;
  max-width: 440px;
  margin: 0 auto;
}
/* Questions */ 
.question-container {
  max-width: 500px;
  width: 90%;
  margin: 21px auto;
}
.answer-box {
  width: 80%;
  position: relative;
  margin: auto;
}
.question-top-info {
  margin: auto;
  font-size: 17px;
  text-align: center;
}

.answer-color-1, 
.answer-color-2,
.answer-color-3,
.answer-color-4,
.answer-color-5 {
  --background: #e6d0ae;
  border: 2px solid #000000;
  margin: 8px auto;
}

.answer-box .item-radio-checked {
  --background: #ffcc80;
}
.answer-box .item-radio-checked .item.sc-ion-label-ios-h,
.answer-box .item-radio-checked .item .sc-ion-label-ios-h {
  font-weight: 600;
}

.submit-answer-btn {
  color: #000;
  font-weight: 600;
  display: block;
  margin: 20px auto 10px;
  width: 40%;
  max-width: 350px;
}

.random-number-test {
  width: 100%;
  height: 36px;
  color: black;
  background: coral;
}

.question-headbox {
  display: block;
  text-align: center;
  margin: 20px auto 30px;
  border: 2px solid #b5452b;
  padding: 14px;
  font-size: 22px;
  border-radius: 20px;
}
